.loading-animation body {
	display: grid;
	grid-template: 8em/8em;
	place-content: center;
	margin: 0;
	height: 100vh;
	background: #2b323c;
  }
  
  .loading-animation div,
  .loading-animation ::before,
  .loading-animation ::after {
	border-radius: 50%;
	background: linear-gradient(90deg, #e2e2bf calc(var(--i, .5)*100%), #de6873 0);
  }
  
  .loading-animation div {
	display: grid;
	animation: flip 2s steps(1) infinite;
  }
  .loading-animation div::before,
  .loading-animation div::after {
	--i: 0;
	grid-area: 1/1;
	backface-visibility: hidden;
	transform: rotatey(calc((var(--i) + 1)*.5turn));
	animation: roty 1s ease-in-out infinite alternate;
	content: "";
  }
  .loading-animation div::after {
	--i: 1 ;
  }
  
  @keyframes flip {
	50% {
	  transform: scale(-1);
	}
  }
  @keyframes roty {
	0% {
	  transform: rotatey(calc(var(--i)*.5turn));
	}
  }